<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Adriana's Fancy Pants App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Chez Moi</h1>
        </div>
      </div>
        <div class="row">
          <div id='profileEntry'>
            <div id='github-image' class="col-sm-2">
                      <!-- Github images -->
            </div>
            <div class="col-sm-3 profile">
              <p id="my-name">Name: </p>
              <p id="github-link"></p>
              <p id="current-city">Current City: </p>
              <p id="pets"></p><br>
              <h5>Check out my artwork below!</h5>
              <h5><a href="/api">Read My API Documentation</a></h5>
            </div>
            <form id="newArtworkForm" class="form-inline col-sm-6">
              <div class="form-group">

                 <input type="text" class="form-control center-block" name="title" placeholder="Title">
                 <input type="text" class="form-control center-block" name="medium" placeholder="Medium">
                 <input type="text" class="form-control center-block" name="dimensions" placeholder="Dimensions">
                 <input type="text" class="form-control center-block" name="image" placeholder="Image Url">
                 <input type="text" class="form-control center-block" name="year" placeholder="Year">
                 <input type="text" class="form-control center-block" name="status" placeholder="Status">

              </div>
              <button type="submit" class="btn btn-default">Add to Gallery</button>
            </form>
          </div>
       <hr class="col-sm-12">
       </div>
       <div id='artworkEntry'>
         <!-- handlebars template -->
         <script id="artwork-template" type="text/x-handlebars-template">
           {{#each artworks}}
              <!-- <div class="row"> -->
                <div class="col-sm-4">
                  <img src="{{image}}" height="200px" class="img-responsive center-block">
                  <div class="art-info">
                    <h4>{{title}}</h4>
                    <p>{{medium}}<br>
                       {{dimensions}}<br>
                       {{year}}<br>
                       {{status}}</p>
                       <!-- pencil icon to toggle update form -->
                       <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-{{_id}}">
                         <span class="glyphicon glyphicon-pencil"></span>
                       </a>

                       <!-- trash can icon to delete artwork -->
                        <a href="javascript:void(0)" class="delete-artwork">
                         <span class="glyphicon glyphicon-trash"></span>
                       </a>
                       <!-- form to update todo -->
                <div class="collapse" id="update-{{_id}}">
                  <br>
                  <form class="form-inline update-artwork">
                    <div class="form-group">
                      <input type="text" name="title" class="form-control" placeholder="Title" value="{{title}}">
                    </div>
                    <div class="form-group">
                      <input type="text" name="medium" class="form-control" placeholder="Medium" value="{{medium}}">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-block btn-default" value="Update">
                    </div>
                  </form>
                </div>
                  </div>

             </div>
           {{/each}}

         </script>

      </div>

  </body>
</html>
